<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>IGP Landing Page</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>
	<!--- Nav Bar Section -->
	<nav id="nav_bar">
		<div class="back3">
			<div id="about" class="about col-lg-3">
				IGP's Official Site! Come and play our popular games!
			</div>
		</div>
		<div class="con-logo left">
			<span class="back bg-grey"></span>
			<img src="assets/images/logo.png" alt="logo" class="logo">
		</div>
		<div class="con-profile left">
			<span class="back2 bg-blue"></span>
		</div>
		<div class="con-menu">
			<span class="back5"></span>
			<div class="back6 white">
				<ul>
					<li>Sign Up</li>
					<li>Login</li>
				</ul>
			</div>
		</div>
	</nav>
	<!--- End Nav Bar Section -->
	<div class="con-top rel">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 tablet mySlide show left">
					<div class="col-lg-4 left">
						<p class="game-title">Endless <span class="white">Runner</span></p>
						<hr class="hr-title">
						<p class="desc">
							Endless runner game is a game which you move your character from one side of the screen to the other endlessly. Usually there is several obstacle and item to be picked along the way.
						</p>
						<button class="btn-gray">Play Endless Runner Now <span class="btn-play right">v</span></button>
					</div>

					<div class="col-lg-2 left img-game">
						<img src="assets/images/endlessrun.png" alt="endlessrun" class="img-responsive">
					</div>
				</div>
				<div class="col-lg-3 tablet mySlide left">
					<div class="col-lg-2 left img-game">
						<img src="assets/images/tetris.png" alt="tetris" class="img-responsive">
					</div>
					<div class="col-lg-4 left">
						<p class="game-title">Tetris</p>
						<hr class="hr-title">
						<p class="desc">
							Tetris is a game which you move tetrominos (geometric shapes composed of four square blocks each) to the left and right or rotating it by 90 degrees and forming a stack of blocks that will be destroyed if a 10 units horizontal line is formed, making all blocks above the line fall.
						</p>
						<button class="btn-gray">Play Tetris Now <span class="btn-play right">v</span></button>
					</div>
				</div>
			</div>
		</div>
		<div class="slide right">
			<button class="btn-slide active"></button>
			<button class="btn-slide"></button>
		</div>
	</div>
	<div class="con-mid white">
		<div class="container">
			<div class="about col-lg-3">
				IGP's Official Site! Come and play our popular games!
			</div>
			<div class="row">
				<div class="col-lg-3 col-offset-3 zelda text-right">Image and Video Gallery</div>
				<div class="con-img-vid">
					<div id="image" class="col-lg-3 left">
						<div class="img-thumbnail">
							<img class="img-vertical" alt="img1" src="assets/images/endlessrun.png">
							<span class="img-name">Endless Runner</span>
						</div>
						<div class="img-thumbnail">
							<img class="img-vertical" alt="img2" src="assets/images/tetris.png">
							<span class="img-name">Tetris</span>
						</div>
						<div class="img-thumbnail">
							<img class="img-horizontal" alt="img3" src="assets/images/endless.jpg">
							<span class="img-name">Endless Runner</span>
						</div>
					</div>
					<div id="video" class="col-lg-3 left">
						<div class="vid-thumbnail">
							<img class="vid-gallery vid-horizontal" alt="vid3" src="assets/images/endless.jpg">
							<span class="img-name">Endless Runner Gameplay</span>
							<span class="vid-play"></span>
						</div>
						<div class="vid-thumbnail">
							<img class="vid-gallery vid-vertical" alt="vid2" src="assets/images/tetris.png">
							<span class="img-name">Tetris Gameplay</span>
							<span class="vid-play"></span>
						</div>
						<div class="vid-thumbnail">
							<img class="vid-gallery vid-horizontal" alt="vid3" src="assets/images/endless.jpg">
							<span class="img-name">Endless Runner Gameplay</span>
							<span class="vid-play"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="con-search">
				<div class="back4">
					<p>
						Search <span class="white">User</span>
						<input type="text" name="username" placeholder="Username..." />
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="con-bot">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 con-socmed text-center offset">
					<img class="socmed" alt="fb" src="assets/images/facebook.png">
					<img class="socmed" alt="twit" src="assets/images/twitter.png">
					<img class="socmed" alt="yt" src="assets/images/youtube.png">
				</div>
				<div class="col-lg-5 col-offset-1">
					<div class="col-lg-1 left">
						<span class="zelda">Your Account</span>
						<ul>
							<li><a href="#">Account Settings</a></li>
							<li><a href="#">Highscore</a></li>
						</ul>
					</div>
					<div class="col-lg-1 left">
						<span class="zelda">Support</span>
						<ul>
							<li><a href="#">Get Support</a></li>
						</ul>
					</div>
					<div class="col-lg-1 left">
						<span class="zelda">IGP</span>
						<ul>
							<li><a href="#">About IGP</a></li>
							<li><a href="#">Careers</a></li>
							<li><a href="#">Press</a></li>
						</ul>
					</div>
					<div class="col-lg-1 left">
						<span class="zelda">Policies & Agreements</span>
						<ul>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Legal Documentation</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-5 footer">
					<img class="img-logo" alt="logo2" src="assets/images/logo2.png">
					<p>Designed by : Rizki Banyu Firdaus<br>&copy; 2019 Indonesia Game Portal Corporation. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="assets/js/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="assets/js/script.js"></script>
</body>
</html>