<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>IGP Register</title>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body class="reg">
	<div class="container">
		<div class="row">
			<div id="img" class="col-lg-3 left text-center">
				<div class="con-img">
					<img src="assets/images/Tetrisrun.png" alt="img" class="img-responsive-50">
				</div>
			</div>
			<div id="form" class="col-lg-3 left">
				<div class="con-form">
				<form action="#" method="POST">
					<div class="con-logo2">
						<span class="back7 bg-grey"></span>
						<img src="assets/images/logo.png" alt="logo" class="logo">
					</div>
					<p class="zelda">Register</p>
					<div class="form-input left">
						<label class="left">Name</label>
						<input type="text" name="name" class="form-control left">
					</div>
					<div class="form-input left">
						<label class="left">Email</label>
						<input type="text" name="email" class="form-control left">
					</div>
					<div class="form-input left">
						<label class="left">Date of Birth</label>
						<input type="text" name="dob" class="form-control left">
					</div>
					<div class="form-input left">
						<label class="left">Phone</label>
						<input type="text" name="phone" class="form-control left">
					</div>
					<div class="form-input picture left">
						<img src="assets/images/Default.png" alt="default" class="profile-picture left">
						<div class="file left">
							<label>Profile Picture</label>
							<input type="file" name="picture">
						</div>
					</div>
					<div class="form-input left">
						<label class="left">Username</label>
						<input type="text" name="username" class="form-control left">
					</div>
					<div class="form-input left">
						<label class="left">Password</label>
						<input type="password" name="password" class="form-control left">
					</div>
					<div class="form-input left">
						<label class="left">Captcha</label>
						<div class="captcha left">
							<div class="captcha-box left" data-text="ABCD">ABCD</div>
							<input type="text" name="captcha" class="left">
						</div>
					</div>
					<div class="con-submit">
						<input type="submit" value="Submit">
					</div>
				</form>					
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="assets/js/script.js"></script>
</body>
</html>